body{
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 22px;
}

.img_git{
    width: 40%;
}

.base{
    font-family: "Montserrat", sans-serif;
}

.arrow-back{
    transform: rotate(180deg);
    width: 3%;
    margin-left: 20px;
    margin-top: 10px;
}